@import "../../modules/variables";

.eco-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   height: 95vh;
   width: 85%;
   z-index:2;
   margin: 2em 0 2em;
   background: $pal-five-dark;
   box-shadow: 5px 5px 25px;
   border-radius: 5px;

.image-container{
   display: flex;
   justify-content: space-between;
   width:100%;
   height: 65vh;
   box-sizing: border-box;
   padding: 0 1em 0 1em;
   
   .image-selector{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 15%;
      background-color: $pal-three-dark;
      padding: 0 .5em 0 .5em;
      border-radius: 5px;
      margin-right: .5em;
      
      img {
         width:100%;
         // height: 20%;
         border-radius: 5px;
            }
         .pic {
            // width: 100%;
            height:  11vh;
            position: relative;
            // margin: .25em;
            // z-index:1;
            
            img {
               height:11vh;
               border-radius: 5px;
               // width:100%;
               position: relative;
            }
            .pic-select {
               width:100%;
               border-radius: 5px;
               box-sizing: border-box;
               height: 100%;
               position: absolute;
               top:0;
               left:0;
               z-index:1;
               opacity: .5;
               ;
               // margin-bottom:5px;
            }

            .pic-select:hover {
               background-color: $pal-zero;
               z-index:1;
            }
            .pic-selected {
               border-radius: 5px;
               box-sizing: border-box;
               width:100%;
               height: 100%;
               top:0;
               left:0;
               position: absolute;
               background-color:rgba(55,54,77, 0.8);
               z-index: 1;
            }
         }
      }
   }
      .main-image {
                  height: 65vh;
                  width:85%;
                  border-radius: 5px;
               }

      .eco-details {
         display: flex;
         flex-direction: column;
         height: 27vh;
         width: 100%;
         box-sizing: border-box;
         padding:  1em 4em 1em 4em;

         h1 {
            color: $pal-two;
            margin-bottom: .75em;
         }
      
         .skills-container {
            margin-top: .75em;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            text-align: center;
           color: $pal-one;
           height: 10vh;
           width: 100%;
   
           h1 {
               font-size: 32px;
               margin-bottom: 1em;
           }
   
            .skills-icon-container {
               width: 70px;
               margin: .5em;
               text-align: center;
               font-size: 14px;
   
               .skill-icon {
                  height: 50px;
                  width: 50px;
               }
            }
         }
      }
   }