@import "../../modules/_variables.scss";
@import "../../modules/mixins.scss";

@media  (min-width: 300px){  
.project-container {
   @include column;
   justify-content: space-evenly;
   text-align: center;
   min-height: 50vh;
   width: 100%;

   .projects {
      @include column;
      width: 84%;
      min-height: 80vh;
      background-color: $pal-six;
      border-radius: 5px;
      padding: .5em;
      box-shadow: 8px 8px 25px black;
      
      .project {
         @include column;
         flex-direction: column-reverse;
         width: 100%;
         margin: .25em 0 .25em;
         box-sizing: border-box;
         border-radius: 5px;
         
        .project-info {
           @include column;
           justify-content:space-evenly;   
            padding: .5em 1.5em .5em 1.5em;
            border-top: 2px solid $pal-six;
            width: 100%;
            min-height: 30vh;
            box-sizing: border-box;
            background-color: $pal-five;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            
            h1{
               color: $pal-two;
               font-family: $main-font;
               font-size:18px;
            }
            p {
               font-size: 10px;
               font-family: $main-font;
               font-style: italic;
               color: $pal-one;
            }
            button {
               @include button;
               align-self: center;
               
            }
            button:hover {
               @include button-hover;
            }
      }

      .project-info:hover{
         transition:1s;
         background-color: $pal-four;
         
         h1 {
            transition:.5s;
            color: $pal-zero;
         }
      }

      .image-container {
         position: relative;
         border-radius: 5px 5px 0 0;
         width: 100%;
         height:25vh;

         img {
            height: 25vh;
            border-radius: 5px 5px 0 0;
         }
      }
   }
   .column-reverse {
      @include column;
      width: 100%;
      margin: .25em 0 .25em;
      box-sizing: border-box;
      border-radius: 5px;

      .project-info {
         @include column;
         justify-content:space-evenly;   
         padding: .5em 1.5em .5em 1.5em;
         border-top: 2px solid $pal-six;
         width: 100%;
         height: 30vh;
         box-sizing: border-box;
         background-color: $pal-five;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         
         h1{
            color: $pal-two;
            font-family: $main-font;
            font-size:18px;
         }
         p {
            font-size: 10px;
            font-family: $main-font;
            font-style: italic;
            color: $pal-one;
         }
         button {
            @include button;
         }
         button:hover {
            @include button-hover;
         }
   }

   .project-info:hover{
      transition:1s;
      background-color: $pal-four;
      
      h1 {
         transition:.5s;
         color: $pal-zero;
      }
   }

   .image-container {
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 100%;
      height:25vh;

      img {
         height: 25vh;
         border-radius: 5px 5px 0 0;
      }
   }
   }

      // this may be used later on

   //  .project-details {
   //     position: absolute;
   //     display: flex;
   //     flex-direction: column;
   //     justify-content: center;
   //     visibility: hidden; 
   //     opacity:0;
   //       z-index:1;
   //       top:0;
   //       left:0;
   //       background-color: rgba(55,54,77, 0.6);
   //       width: 100%;
   //       height: 100%;
   //       border-radius: 5px;
   //       transition: .7s;
   //    }
   //     .project-details:hover {
   //        transition: .7s;
   //       opacity:1;
   //       cursor: pointer;
   //      }
      
      }
   }
}

@media  (min-width: 350px){ 
   .project-container
   .projects{
      .project
      .project-info {
               h1{
                  font-size:24px;
               }
               p {
                  font-size: 12px;
               }
            }
         
      .column-reverse 
      .project-info {
         h1{
            font-size:24px;
         }

         p {
            font-size: 12px;
         }
      }
   }
}

@media  (min-width: 450px){  
   .project-container
   .projects{
   .project{
      height: 60vh;

      .image-container {
         height: 30vh;

         img {
            height: 30vh;
         }
      }
   }
   .column-reverse {
      height: 60vh;

      .image-container {
         height: 30vh;

         img {
            height: 30vh;
         }
      }
   }

   }
}

@media  (min-width: 600px){  
   .project-container
   .projects{
      .project{
         height: 70vh;

         .image-container {
            height: 35vh;

            img {
               height: 35vh;
            }
         }
      }
      .column-reverse {
         height: 70vh;
         
         .image-container {
            height: 35vh;

            img {
               height: 35vh;
            }
         }
      }
   }
}

@media  (min-width: 700px){  
   .project-container
   .projects{
      .project{
         height: 70vh;

         .project-info {
            h1{
               font-size:40px;
            }
            p {
               font-size: 16px;
               width: 80%;
            }
            button {
               height: 5vh;
               font-size: 20px;
            }
            button:hover {
               font-size: 26px;
               height: 6vh;
               width: 18vw;
            }
      }

         .image-container {
            height: 40vh;

            img {
               height: 40vh;
            }
         }
      }
      .column-reverse {
         height: 70vh;
         
         .project-info {
            h1{
               font-size:40px;
            }
            p {
               font-size: 16px;
               width: 80%;
            }
            button {
               height: 5vh;
               font-size: 20px;
            }
            button:hover {
               font-size: 26px;
               height: 6vh;
               width: 18vw;
            }
      }

         .image-container {
            height: 40vh;
            img {
               height: 40vh;
            }
         }
      }
   }
}

@media  (min-width: 800px){  
   .project-container
   .projects{
      .project{
         height: 75vh;

         .image-container {
            height: 45vh;

            img {
               height: 45vh;
            }
         }
      }
         .column-reverse {
            height: 85vh;

            .image-container {
               height: 50vh;
      
               img {
                  height: 50vh;
               }
            }
         }
      }
   }

@media  (min-width: 900px){  
   .project-container
   .projects{
   .project{
      height: 85vh;

      .image-container {
         height: 50vh;

         img {
            height: 50vh;
         }
      }
   }
   .column-reverse {
      height: 90vh;

      .image-container {
         height: 50vh;

         img {
            height: 50vh;
         }
      }
   }
}
}

@media  (min-width: 1000px){  
   .project-container
   .projects{
      .project{
         display: flex;
         flex-direction: row;
         height: 50vh;
         
         .project-info {
            height: 50vh;
            padding: .5em 1em .5em 1em;
            width: 45%;
            font-size: 16px;
            border-bottom-right-radius: 0;
            border-top-left-radius: 5px;
            border-top: none;
            border-right: 2px solid $pal-six;

            button {
               width: 15vw;

            }
         }
         .image-container {
            height: 50vh;
            img {
               height: 50vh;
               border-bottom-right-radius: 5px;
               border-top-left-radius: 0;
            }
         }
      }
      .column-reverse{
         display: flex;
         flex-direction: row;
         height: 50vh;

         .project-info {
            height: 50vh;
            padding: .5em 1em .5em 1em;
            width: 45%;
            font-size: 16px;
            border-radius: 0 5px 5px 0;
            border-top: none;
            border-left: 2px solid $pal-six;
            h1 {
               font-size: 30px;
            }
               button {
                  width: 15vw;
               }
            }
         .image-container {
            height: 50vh;
            img {
               height: 50vh;
               border-radius: 5px 0 0 5px;
            }
         }
      }
   }
}

@media  (min-width: 1000px) and (min-height: 1200px){  
   .project-container
   .projects{
      .project{
         height: 30vh;
         .project-info {
            height: 30vh;
            width: 45%;

            h1{
               font-size:30px;
            }
            p {
               font-size: 14px;
            }

            button {
               width: 15vw;
               height: 3vh;
            }
            }
            .image-container {
            height: 30vh;
            img {
               height: 30vh;
            }
         }
      }
      .column-reverse{
         height: 30vh;
         project-info {
            height: 30vh;
            width: 45%;

            h1{
               font-size:30px;
            }
            p {
               font-size: 14px;
            }

            button {
               width: 15vw;
               height: 3vh;
            }
            }
            .image-container {
               height: 30vh;
               img {
                  height: 30vh;
               }
            }
         }
   }
}

@media  (min-width: 1150px){  
   .project-container
   .projects{
   .project{
      height: 60vh;
      .project-info {
         height: 60vh;
         }
      .image-container {
         height: 60vh;
         img {
            height: 60vh;
         }
      }
   }
      .column-reverse{
         height: 60vh;

         .project-info {
            height: 60vh;

            h1 {
               font-size: 36px;
            }
            }
         .image-container {
            height: 60vh;
            img {
               height: 60vh;

            }
         }
      }
   }
}
