@import "../../modules/variables";
@import "../../modules/mixins";


@media  (min-width: 320px) {
   .project-page-container {
      @include column;
      justify-content: space-between;
      box-sizing: border-box;
      height: 95vh;
      width: 85%;
      z-index:2;
      background: $pal-five-dark;
      box-shadow: 5px 5px 25px black;
      border-radius: 5px;
      
      .image-container{
         @include column;
         justify-content: space-evenly;
         margin-top: .25em;
         width:100%;
         height: 50%;
         box-sizing: border-box;
         padding: 0 1em 0 1em;
         
         .image-selector{
            @include row;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            background-color: $pal-six-dark;
            padding: .5em .5em .5em .5em;
            border-radius: 5px;
            min-height: 8vh;
            
            img {
               width:100%;
               border-radius: 5px;
            }
            .pic {
               height:  6vh;
               width: 30%;
               position: relative;
               
               
               img {
                  height:6vh;
                  border-radius: 5px;
                  position: relative;
               }
               .pic-select {
                  width:100%;
                  border-radius: 5px;
                  box-sizing: border-box;
                  height: 100%;
                  position: absolute;
                  top:0;
                  left:0;
                  z-index:1;
                  opacity: .5;
               }
               
               .pic-select:hover {
                  background-color: $pal-zero;
                  z-index:1;
               }
               .pic-selected {
                  border-radius: 5px;
                  box-sizing: border-box;
                  width:100%;
                  height: 100%;
                  top:0;
                  left:0;
                  position: absolute;
                  background-color:rgba(30, 44, 66, 0.8);
                  z-index: 1;
               }
            }
         }
      }
      .main-image {
         height: 60%;
         border-radius: 7px;
         margin: 5px 0 5px;
      }
      
      .project-page-details {
         @include column;
            min-height: 20%;
            width: 100%;
            box-sizing: border-box;
            color: $pal-one;
            font-size: 9px;
            padding:  1em 1.5em 1em 1.5em;

            li {
               margin-left: 1.5em;
            }
      }

      button {
         position: relative;
         width: 35vw;
         top: 1vh;
         height: 5vh;
         background-color: transparent;
         border: 2px solid $pal-five;
         color: $pal-one;
         font-size: 18px;
         font-weight: bold;
         border-radius: 5px;
      }
      button:hover {
         transition:.5s;
         color: $pal-two;
         border-color: $pal-one;
         background-color: $pal-five;
         cursor: pointer;
         font-size: 22px;
         height: 7vh;
         width: 40vw;
      }
            .skills-container {
               display: flex;
               justify-content: center;
               flex-flow: row wrap;
               text-align: center;
              color: $pal-one;
              height: 16%;
              width: 90%;
              padding: 1em 0 1em 0;

               .skills-icon-container {
                  width: 50px;
                  margin: .5em;
                  text-align: center;
                  font-size: 9px;
                  height: 21%;
      
                  .skill-icon {
                     height: 30px;
                     width: 30px;
                  }
               }
            
         }
      }
      .smaller-title-text{
         font-size: 9px;
      }
      .smaller-text{
         font-size: 7px;
      }
      .spacer {
         margin:.25em;
      }
      
   }

   @media  (min-width: 320px) and (min-height: 600px){  
      .project-page-container
      .project-page-details {
            font-size: 10px;
      }
      .smaller-title-text{
         font-size: 10px;
      }
      .smaller-text{
         font-size: 8px;
      }
      .spacer {
         margin:.25em;
      }
   }


@media  (min-width: 320px) and (min-height: 700px){  
.project-page-container {
   
   .image-container{
      // height: 50vh;

      .image-selector{
         width: 90%;

         .pic {
            height:  7vh;
            
            img {
               height:7vh;
            }
            
         }
      }
   }
   
   .project-page-details {
         height: 30%;
         font-size: 11px;
   }
         .skills-container {
           height: 17%;
           width: 80%;

            .skills-icon-container {
               width: 50px;

               .skill-icon {
                  height: 40px;
                  width: 40px;
               }
            }
         
      }
   }
   .smaller-title-text{
      font-size: 12px;
   }
   .smaller-text{
      font-size: 10px;
   }
   .spacer {
      margin:.25em;
   }
}

@media (min-width: 400px) {
   .smaller-title-text{
      font-size: 12px;
   }
   .smaller-text{
      font-size: 10px;
   }
   .spacer {
      margin:.25em;
   }
}

@media  (min-width: 600px) {
   .project-page-container 
   .skills-container {
      height: 8vh;
      width: 100%;
   }
}
@media  (min-width: 700px) {
   .project-page-container 
   .skills-container {

      .skills-icon-container {
         width: 60px;
         font-size: 10px;

         .skill-icon {
            height: 40px;
            width: 40px;
         }
      }
   }
   .smaller-title-text{
      font-size: 18px;
   }
   .smaller-text{
      font-size: 16px;
   }
   .spacer {
      margin:.25em;
   }
}


@media  (min-width: 750px) and (min-height:900px){  

   .project-page-container {
      .image-container{
         // height: 52vh;
   
         .image-selector{
            min-width: 40vw;
            justify-content: space-between;
   
            .pic {
               height:  8vh;
               width: 20vw;
               
               img {
                  height:8vh;
               }
            }
         }
      }

      .main-image {
         // height: 42vh;
      }
      
      .project-page-details {
            font-size: 16px;
      }

            .skills-container {
              height: 15%;
              width: 100%;
   
               .skills-icon-container {
                  width: 65px;
                  font-size: 12px;
   
                  .skill-icon {
                     height: 55px;
                     width: 55px;
                  }
               }
         }
      }
   }

   
   @media  (min-width: 900px){  
      .project-page-container
      button {
         width: 250px;
      }
   }

   @media  (min-width: 1000px){  
   .project-page-container{
      width: 900px;
      
      .image-container{
         flex-direction: row;
         height: 55%;
         padding: 0 1em 0 1em;

   
         .image-selector{
            justify-content: space-evenly;
            min-width: 10%;
            margin-right: .5em;

               .pic {
                  height:  8vh;
                  width: 100%;
                  
                  img {
                     height:8vh;
                  }
               }
            }
         }
         .main-image {
            width:80%;
            height:100%;
         }
         
         .project-page-details {
               height: 40%;
               font-size: 16px;
         }  
         button {
            width: 250px;
            height: 6vh;
            font-size: 22px;
         }
         button:hover {
            width: 280px;
            height: 7vh;
            font-size: 24px;
         }
            
               .skills-container {
                  height: 11%;

                  .skills-icon-container {
                     width: 80px;
                     font-size: 14px;
         
                     .skill-icon {
                        height: 60px;
                        width: 60px;
                     }
                  }
               }
            }
            .smaller-title-text{

            }
            .smaller-text{

            }
            .spacer {

            }
            
      }

@media  (min-width: 1200px){  

   .project-page-container{
      width: 1000px;
      
      .main-image {
         width:85%;
      }
      
   }
}

@media  (min-width: 1400px){ 
   .project-page-container{
      width: 1100px;
   }
}