@import "../../modules/variables";


@media  (min-width: 320px) {
   .vindermere-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      height: 95vh;
      width: 85%;
      z-index:2;
      background: $pal-five-dark;
      box-shadow: 5px 5px 25px;
      border-radius: 5px;
      
      .image-container{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         margin-top: 1em;
         width:100%;
         height: 40vh;
         box-sizing: border-box;
         padding: 0 1em 0 1em;
         
         .image-selector{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 70%;
            background-color: $pal-three-dark;
            padding: .5em .5em .5em .5em;
            border-radius: 5px;
   
            img {
               width:100%;
               // height: 20%;
               border-radius: 5px;
            }
            .pic {
               height:  6vh;
               // width: 100%;
               width: 30%;
               position: relative;
               // margin: .25em;
               // z-index:1;
               
               img {
                  height:6vh;
                  border-radius: 5px;
                  // width:100%;
                  position: relative;
               }
               .pic-select {
                  width:100%;
                  border-radius: 5px;
                  box-sizing: border-box;
                  height: 100%;
                  position: absolute;
                  top:0;
                  left:0;
                  z-index:1;
                  opacity: .5;
                  ;
                  // margin-bottom:5px;
               }
               
               .pic-select:hover {
                  background-color: $pal-zero;
                  z-index:1;
               }
               .pic-selected {
                  border-radius: 5px;
                  box-sizing: border-box;
                  width:100%;
                  height: 100%;
                  top:0;
                  left:0;
                  position: absolute;
                  background-color:rgba(55,54,77, 0.8);
                  z-index: 1;
               }
            }
         }
      }
      .main-image {
         height: 25vh;
         border-radius: 5px;
         margin: 5px 0 5px;
      }
      
      .Vindermere-details {
         border: 2px solid red;
            display: flex;
            flex-direction: column;
            height: 35%;
            width: 100%;
            box-sizing: border-box;
            font-size: 9px;
            padding:  1em 1.5em 1em 1.5em;
   
            h1 {
               color: $pal-two;
               margin-bottom: .75em;
            }
      }
            .skills-container {
               border: 2px solid indianred;
               // margin-top: .75em;
               display: flex;
               justify-content: center;
               flex-flow: row wrap;
               text-align: center;
              color: $pal-one;
              height: 15vh;
              width: 100%;
              padding: 1em 0 1em 0;
      
              h1 {
                  font-size: 32px;
                  margin-bottom: 1em;
              }
      
               .skills-icon-container {
                  width: 40px;
                  margin: .5em;
                  text-align: center;
                  font-size: 8px;
                  height: 20%;
      
                  .skill-icon {
                     height: 25px;
                     width: 25px;
                  }
               }
            
         }
      }
   }

   @media  (min-width: 320px) and (min-height: 600px){  
      .vindermere-container
      .Vindermere-details {
            font-size: 10px;
      }
   }


@media  (min-width: 320px) and (min-height: 700px){  
.vindermere-container {
   
   .image-container{
      height: 50vh;

      .image-selector{
         width: 90%;

         .pic {
            height:  7vh;
            
            img {
               height:7vh;
            }
            
         }
      }
   }
   
   .Vindermere-details {
      border: 2px solid red;
         height: 50%;
         font-size: 11px;
   }
         .skills-container {
           height: 17%;
           width: 80%;

            .skills-icon-container {
               width: 50px;

               .skill-icon {
                  height: 40px;
                  width: 40px;
               }
            }
         
      }
   }
}

@media  (min-width: 750px) and (min-height:900px){  

   .vindermere-container {
   
      .image-container{
         height: 52vh;
   
         .image-selector{
            width: 95%;
            justify-content: space-between;
   
            .pic {
               height:  8vh;
               width: 19%;
               
               img {
                  height:8vh;
               }
            }
         }
      }

      .main-image {
         height: 42vh;
      }
      
      .Vindermere-details {
            font-size: 16px;
      }
            .skills-container {
              height: 15%;
              width: 100%;
   
               .skills-icon-container {
                  width: 65px;
                  font-size: 12px;
   
                  .skill-icon {
                     height: 55px;
                     width: 55px;
                  }
               }
            
         }
      }
   }

   @media  (min-width: 1000px){  
   .vindermere-container{
      height: 95vh;
      width: 80%;
      
      .image-container{
         // flex-direction: row;
         height: 40%;
         padding: 0 1em 0 1em;
   
         .image-selector{
            // display: flex;
            // flex-wrap: none;
            // flex-direction: row;
            // align-items: center;
            height:30vh;
            justify-content: space-evenly;
            width: 25%;
            margin-right: .5em;

               .pic {
                  height:  5vh;
                  width: 100%;
                  
                  img {
                     height:5vh;
                  }
               }
            }
         }
         .main-image {
            // height: 26vh;
            width:80%;
         }
         
         .Vindermere-details {
            border: 2px solid red;
               // height: 35%;
               // width: 100%;
               box-sizing: border-box;
               font-size: 16px;
               padding:  1em 4em 1em 4em;
      
               h1 {
                  color: $pal-two;
                  margin-bottom: .75em;
               }
            
               .skills-container {
                  margin-top: .75em;
                  display: flex;
                  justify-content: center;
                  flex-flow: row wrap;
                  text-align: center;
                 color: $pal-one;
                 height: 10vh;
                 width: 100%;
         
                 h1 {
                     font-size: 32px;
                     margin-bottom: 1em;
                 }
         
                  .skills-icon-container {
                     width: 70px;
                     margin: .5em;
                     text-align: center;
                     font-size: 14px;
         
                     .skill-icon {
                        height: 50px;
                        width: 50px;
                     }
                  }
               }
            }
      }
   }

@media  (min-width: 1200px){  

   .vindermere-container{
      height: 95vh;
      width: 1000px;
      
      .image-container{
         flex-direction: row;
         height: 65vh;
         padding: 0 1em 0 1em;
      
            .image-selector{
               border: 3px solid blue;
               display: flex;
               flex-wrap: none;
               flex-direction: column;
               align-items: center;
               // height:40vh;
               justify-content: space-evenly;
               width: 15%;
               padding: 0 .5em 0 .5em;
               margin-right: .5em;
   
                  img {
                     width:100%;
                     height: 20%;
                     border-radius: 5px;
                  }
                  .pic {
                     height:  7vh;
                     width: 100%;
                     
                     img {
                        height:7vh;
                        border-radius: 5px;
                        // width:100%;
                        position: relative;
                     }
                     .pic-select {
                        border: 3px solid green;
                        width:100%;
                        border-radius: 5px;
                        box-sizing: border-box;
                        height: 100%;
                        position: absolute;
                        top:0;
                        left:0;
                        z-index:1;
                        opacity: .5;
                        ;
                        // margin-bottom:5px;
                     }
                     
                     .pic-select:hover {
                        background-color: $pal-zero;
                        z-index:1;
                     }
                     .pic-selected {
                        border-radius: 5px;
                        box-sizing: border-box;
                        width:100%;
                        height: 100%;
                        top:0;
                        left:0;
                        position: absolute;
                        background-color:rgba(55,54,77, 0.8);
                        z-index: 1;
                     }
                  }
               }
            }
            .main-image {
               height: 55vh;
               width:85%;
               border-radius: 5px;
               margin-bottom: 5px;
               border: 2px solid green;
            }
            
            .Vindermere-details {
               border: 2px solid red;
                  display: flex;
                  flex-direction: column;
                  height: 35%;
                  width: 100%;
                  box-sizing: border-box;
                  font-size: 16px;
                  padding:  1em 4em 1em 4em;
         
                  h1 {
                     color: $pal-two;
                     margin-bottom: .75em;
                  }
               
                  .skills-container {
                     margin-top: .75em;
                     display: flex;
                     justify-content: center;
                     flex-flow: row wrap;
                     text-align: center;
                    color: $pal-one;
                    height: 10vh;
                    width: 100%;
            
                    h1 {
                        font-size: 32px;
                        margin-bottom: 1em;
                    }
            
                     .skills-icon-container {
                        width: 70px;
                        margin: .5em;
                        text-align: center;
                        font-size: 14px;
            
                        .skill-icon {
                           height: 50px;
                           width: 50px;
                        }
                     }
                  }
               }
   }
}