$pal-zero: rgb(162, 119, 177);
$pal-one: rgba(255, 255, 255, 0.719);
$pal-two:rgb(96,145,193);
// $pal-three:rgb(59,47,68);
$pal-four: rgb(55,54,77);
$pal-five: rgb(63,61,84);
$pal-six: rgb(86,73,90);
$pal-seven: rgb(65,55,68);

$pal-three-dark:rgb(39,27,48);
$pal-four-dark: rgb(45,44,67);
$pal-five-dark: rgb(53,51,74);
$pal-six-dark: rgb(76,63,80);



$pal-zero: rgb(80,103,134);
$pal-one: rgb(229,235,220);
$pal-two:rgb(96,145,193);
$pal-three:rgb(8,26,49);
$pal-four: rgb(55,54,77);
$pal-five: rgb(131, 45, 0);
$pal-six:rgb(89,21,0);
$pal-seven: rgb(34,15,1);

$pal-three-dark:rgb(39,27,48);
$pal-four-dark: rgb(45,44,67);
$pal-five-dark: rgb(53,51,74);
$pal-six-dark: rgb(76,63,80);

