@import "./modules/_variables.scss";
@import "./modules/_mixins.scss";

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: $main-font;
   text-decoration: none;
   text-emphasis: none;
}

.landing-overlay {
   @include column;
   width:100%;
   height:100%;
   background-color: rgba(6, 10, 20, 0.85);
   position: fixed;
   z-index:2;
   overflow: hidden;
   top:0;
   right:0;
   bottom:0;
   left:0;
   transform: 2s;
   
}

   @media  (min-width: 320px){

      // ------------------  header ----------------------------------
      header {
         background-image: url('./images/2014 Senior Pic.jpg');
         width:100%;
         height: 30vh;
         background-repeat:	no-repeat;
         background-size: 100% 140%;
         border-bottom: 5px solid $pal-six-dark;
      }
      .nav-bar-container {
         @include row;
         justify-content: center;
         position: fixed;
         // font-weight: bold;
         letter-spacing: 2px;
         height:5vh;
         box-shadow: 5px 15px 25px black;
         // background-color: $pal-six;
         background-color: rgba(96, 26, 0, .96);
         color: $pal-two;
         z-index: 2;
         top: 0;

         a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-size: 10px;
            color: $pal-two;
         }
         a:hover {
            font-weight: bold;
         }
      }
      .nav-bar {
         display: flex;
         text-decoration: none;
            width: 90%;
         }
      
      .header-title-container{
         @include column;
         justify-content: space-evenly;
         height: 40vh;
         color: $pal-one;
         width: 50%;

          .name {
             position: relative;
             left: 10vw;
             top: -2vh;
             font-size: 25px;
             font-weight: bold;
            //  word-spacing: 10px;
             text-shadow: 5px 3px black
            }
            .sub-heading {
            position: relative;
            top: -4vh;
            left: 10vw;
            font-weight: normal;
            line-height: 1.75em;
            font-size: 15px;
            word-spacing: 2px;
            text-shadow: 5px 3px black;
         }
      }

         // ------------------  main ----------------------------------
      main {
         @include column;
         min-height:100vh;
         background: linear-gradient(-45deg, $pal-four 40%, $pal-three 60%);
      }

      .quote-container {
         @include row;
         justify-content: center;
         height: 15vh;
         width: 100%;
         
         .intro-quote {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-style: italic;
            text-align: center;
            font-size: 12px;
            width: 90%;
            color: $pal-one;
            text-shadow: 3px 3px $pal-five;
            line-height: 1.4em;
         }
      }
      .section-title {
         padding:  1em;
         text-align: center;
         width: 80%;
         color: $pal-one;
         font-weight: normal;
      }

      .skills-container-title {
         @include column;
      }
      #portfolio {
         height: 5vh;
         position: relative;
         // background-color: magenta;
         display: hidden;
         // z-index: -1;
         margin: -3vh;
         // top: 155vh;
      }
      .button-container {
         @include row;
         width: 100%;
         height:8vh;
      }


   // ------------------ about me ----------------------------------

   .about-me-overview-container{
      @include column;
      width:85%;
      min-height: 40vh;
      box-sizing: border-box;
      padding: .5em;
      background-color: $pal-six;
      box-shadow: 5px 5px 25px black;
      border-radius: 5px;
      color: $pal-one;

      .images {
         display: flex;
         flex-direction: column;
         
         .pic-one {
            width: 100%;
            align-self: center;
            box-sizing: border-box;
            border-bottom: 2px solid $pal-six;
            border-radius: 5px 5px 0 0;
         }
         .pic-two {
            align-self: center;
            width: 100%; 
            height: 250px; 
            box-sizing: border-box;
            object-fit: cover;
            object-position: 25% -10px;
            border-bottom: 2px solid $pal-six;
         }
      }
      .content{
         @include column;
         background-color: $pal-five;
         border-radius: 0 0 5px 5px;
            p {
               padding: 1em;
               box-sizing: border-box;
               font-size: 14px;;
            }
            a {
               @include button;
               width: 30vw;
               margin: 0 0 1em;
               text-decoration: none;
            }
            a:hover {
               @include button-hover;
               width: 32vw;
               margin-bottom: .5em;
            }
         }
      }

      .content:hover {
         transition: 1s;
         background-color: $pal-four;
      }

// ------------------ contact me ----------------------------------

   .contact-me-container {
      @include column;
      justify-content: space-evenly;
      text-align: center;
      min-height: 20vh;
   }
      .email-resume-container {
         @include column;
         justify-content: center;
         align-items: center;
         color: $pal-one;
         letter-spacing: 2px;
         margin-bottom:1.5em;

         img {
            height: 50px;
            width: 50px;
         }
         input {
            background-color: transparent;
            color: $pal-one;
            font-size: 5px;
            width:5%;
            text-align: center;
            z-index: -1;
         }
      }
   
      .email-container, .resume-container {
         @include row;
         justify-items: center;
         background-color: $pal-six;
         width: 85%;
         height: 6vh;
         box-shadow: 5px 5px 20px black;
         border-radius: 5px;
         margin-bottom: .5em;
      }

      .email-container img {
         margin-left: .5em;
      }
      .resume-container {
         height: 6vh;
         width: 60%;

         img {
            height: 30px;
            width: 30px;
            margin-left: .75em;
         }
      }
      .email-container:hover, .resume-container:hover {
         transition: 1s;
         background-color: $pal-five;
         color:$pal-zero;
      }
      .contact-icons-container {
         @include row;
         margin-bottom:1em;

         img {
            height: 50px;
            width: 50px;
         }
      }
   }

   @media  (min-width: 400px){

      // ------------------  header ----------------------------------
         header {
            height: 34vh;
         }
         .nav-bar-container{
            a {
               font-size: 12px;
            }
         }
         .header-title-container {
         .name {
            top: 0vh;
            font-size: 30px;
         //  word-spacing: 10px;
         }
         .sub-heading {
            top: -2vh;
            line-height: 1.5em;
            font-size: 20px;
         }
      }
   }

   @media  (min-width: 425px){  
      // ------------------ about me ----------------------------------
      .about-me-overview-container{
         .images {
            .pic-two {
               height: 275px; 
               object-position: 25% -14px;
            }
         }
      }
   }
   
   

   @media  (min-width: 500px){  
      // ------------------ main ----------------------------------
      .quote-container {
         height: 20vh;
         .intro-quote {
            font-size: 16px;
            line-height: 1.6em;
         }
      }
      // ------------------ about me ----------------------------------
      .about-me-overview-container{
         .images {
            .pic-two {
               height: 350px; 
               object-position: 25% -18px;
            }
         }
      }
 // ------------------------- contact me ------------------------------
      .email-container, .resume-container {
         font-size: 20px;
      }
   }


   @media  (min-width: 550px){

      // ------------------  header ----------------------------------
      header {
         height: 40vh;
      }
      .header-title-container {
         .name {
            top: 2vh;
            font-size: 35px;
         }
         .sub-heading {
            top: 2vh;
            line-height: 1.75em;
            font-size: 20px;
         }
      }
      .email-container {
         width: 70%;
         img {
            margin-left: 1em;
         }
      }
   }

   @media  (min-width: 575px){  
      // ------------------ main ----------------------------------
      .quote-container {
         height: 20vh;
         .intro-quote {
            font-size: 20px;
         }
      }
      // ------------------ about me ----------------------------------
      .about-me-overview-container{
         .images {
            .pic-two {
               height: 420px; 
            }
         }
         .content p{
            font-size: 18px;
         }
      }
      // ------------------ contact me ----------------------------------
      .email-container {
         width: 65%;
         img {
            margin-left: 1em;
         }
      }
      .resume-container {
         width: 50%;
      }
   }

   @media  (min-width: 650px){
      // ------------------  header ----------------------------------
      header {
         height: 45vh;
      }
      .header-title-container {
         .name {
            font-size: 40px;
         }
         .sub-heading {
            top: 6vh;
            font-size: 25px;
         }
      }
   }

   @media  (min-width: 700px){  
      // ------------------ main ----------------------------------
      .quote-container {
         height: 20vh;
         .intro-quote {
            font-size: 22px;
         }
      }
      // ------------------ about me ----------------------------------
      .about-me-overview-container
      .content{
         a {
            height: 5vh;
            font-size: 20px;
         }
         a:hover {
            font-size: 26px;
            height: 6vh;
            width: 18vw;
         }
      }

      .email-container, .resume-container {
         font-size: 24px;
         height: 6vh;
      }

   }

   @media  (min-width: 750px){
      // ------------------  header ----------------------------------
      header {
         height: 50vh;
      }
      .header-title-container {
         .name {
            top:4vh;
            font-size: 50px;
         }
         .sub-heading {
            top: 14vh;
            font-size: 30px;
         }
      }
   }

   @media  (min-width: 800px){  
      // ------------------ main ----------------------------------
      .quote-container {
         height: 28vh;
         .intro-quote {
            font-size: 24px;
         }
      }
      // ------------------ about me ----------------------------------
      .about-me-overview-container{
         .images {
            .pic-two {
               height: 450px; 
               object-position: 25% -18px;
            }
         }
      }
   }

   @media  (min-width: 850px){
      // ------------------  header ----------------------------------
      header {
         height: 65vh;
      }
      .nav-bar-container {
         height: 5vh;

         a {
            font-size: 18px;
         }
      }
      .header-title-container {
         .name {
            top:6vh;
         }
         .sub-heading {
            top: 20vh;
         }
      }

      .email-container {
         width: 50%;
      }
      .resume-container {
         width: 40%;
      }
   }

   @media  (min-width: 1000px){
      // ------------------  header ----------------------------------
      header {
         height: 70vh;
      }
      .nav-bar-container {
         height: 5vh;
         a {
            font-size: 20px;
         }
      }
      .header-title-container {
         .name {
            top:4vh;
            font-size: 60px;
         }
         .sub-heading {
            top: 20vh;
            font-size: 35px;

         }
      }
      // ------------------ main ----------------------------------
      .quote-container {
         height: 28vh;
         .intro-quote {
            font-size: 26px;
         }
      }
      // ------------------ about me ----------------------------------
      .about-me-overview-container{
         .images {
            flex-direction: row;

            .pic-one {
               width: 60%;
               height:350px;
               border-bottom: none;
               border-right: 2px solid $pal-six;
               border-radius: 5px 0 0 0;
               box-sizing: border-box;
               object-fit: cover;
               object-position: 50% 0;
            }
            .pic-two {
               width: 40%; 
               height: 350px; 
               object-position: 50% -10px;
               border-bottom: none;
               border-top-right-radius: 5px;
            }
         }
         .content{
            border-top: 2px solid $pal-six;
            
            a {
               width: 15vw;
            }
         }
      }
      // ------------------ contact ----------------------------------
         .contact-me-container {

            .email-resume-container{
               // width: 90%;
               flex-direction: row;;
            .email-container {
               width: 50%;
               font-size: 26px;
               padding-right: 1em;
               margin-right: 1em;
               height: 7vh;

               img {
                  padding-left: 1vw;
                  height: 70px;
                  width: 70px;
               }
            }

            .resume-container {
               font-size: 26px;
               width: 30%;
               height: 7vh;

               img {
                  padding-left: 1vw;
                  height: 45px;
                  width: 45px;
               }
            }
            .contact-icons-container {
               width: 55%;

               img {
                  height: 70px;
                  width: 70px;
               }
            }
         }
      }
   }

   @media  (min-width: 1000px) and (min-height: 1200px){ 
      // ------------------  header ----------------------------------
      header {
         height: 45vh;
      }
      .nav-bar-container {
         height: 3vh;

         a {
            font-size: 16px;
         }
      }
      .header-title-container {
         .name {
            top:2vh;
            font-size: 60px;
         }
         .sub-heading {
            top: 8vh;
            font-size: 35px;
         }
      }
      // ------------------ main ----------------------------------
      .quote-container {
         height: 18vh;
      
         .intro-quote {
            font-size: 26px;
         }
      }
   }

   @media  (min-width: 1100px){
      // ------------------  header ----------------------------------
      header {
         height: 80vh;
      }
      .header-title-container {
         .name {
            top:8vh;
            font-size: 60px;
         }
         .sub-heading {
            top: 30vh;
            font-size: 35px;
         }
      }
      // ------------------ contact ----------------------------------
   //    .contact-me-container {
   //       .email-resume-container {
   //          width: 45%;
   //       }
   //    }
   }

   @media  (min-width: 1320px){
      // ------------------  header ----------------------------------
      header {
         height: 95vh;
      }
      .header-title-container {
         .name {
            font-size: 70px;
         }
         .sub-heading {
            font-size: 40px;

         }
      }
      // ------------------ main ----------------------------------
      .quote-container {
         height: 30vh;
      
         .intro-quote {
            font-size: 30px;
         }
      }
      // ------------------ about me ----------------------------------
      .about-me-overview-container{
         .images {
            flex-direction: row;
            
            .pic-one {
               height:450px;
            }
            .pic-two {
               height: 450px; 
            }
         }
      }
      // ------------------ contact ----------------------------------
      .contact-me-container {
         .email-resume-container {
            width: 80%;
            font-size: 28px;

            .email-container {
               width: 40%;
            }
            }
            
         }
         .contact-icons-container {
            width: 650px;
         }
}
