@import "../../modules/variables";
$hexagon-width: 115px;

* {
   margin: 0;
   padding: 0;
   border: 0;
   width: 100%;
}

.about-me-page {
   background:  linear-gradient(0deg, $pal-six 0%, $pal-three 50%);
   display: flex;
   flex-direction: column;
   align-items: center;


   nav {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8vh;
      width: 80%;
      background-color: $pal-three;
      color: $pal-one;
      
      h3 {
         display: flex;
         justify-content: center;
         width: 20%;
         border: 2px solid red;
      }

   }
}
.hexagon-container {
   width:70%;
   height: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.hexagon-row-one{
  display:flex;
  justify-content: center;
  width: $hexagon-width * 3.5;
  margin-bottom: -22px;
}
.hexagon-row-two{
  display:flex;
  justify-content: center;
  width: $hexagon-width  * 4.65;//this will need to be adjusted
  
}
// .hexagon { 
//    position: relative;
//    width: $hexagon-width;
//    height: $hexagon-width/ 1.75;
//    background: white;
//    margin: $hexagon-width/3.46 auto;
//    box-shadow: 5px;
//    background-repeat: no-repeat;
//    background-position: center;
//  }
//  .hexagon::before,
//  .hexagon::after {
//     content: "";
//     position: absolute;
//     border-left: $hexagon-width/2 solid transparent;
//     border-right: $hexagon-width/2 solid transparent;
//    }
   
//    .hexagon::before {
//       bottom: 100%;
//       border-bottom: $hexagon-width/3.46 solid white
//    }
   
//    .hexagon::after {
//       top: 100%;
//       border-top: $hexagon-width/3.46 solid white;
      
//    }
   
//    .hexagon-two {
//       background-image: url("../../images/Family - one.jpg");
//       background-size: 120% 140%;
//    }
//    .hexagon-two::before,
//    .hexagon-two::after {
//       content: "";
//       position: absolute;
//       border-left: $hexagon-width/2 solid transparent;
//       border-right: $hexagon-width/2 solid transparent;
//    }
   .hexagon{
      height: 140px;
      width: 145px;
      // box-shadow: 5px 5px red;
   }
   .hexagon:hover {
      // background-color: red;
   }
   .hexagon-two {
      padding-top:5px;
      height: 140px;
      width: 145px;
   }
   
   .hexagon-four {
      height: 150px;
      width: 145px;
   }

   .hexagon-six {
      padding-top:5px;
      height: 140px;
      width: 145px;
   }
   

.about-me-container {
   background: linear-gradient(0deg, $pal-three 0%, $pal-six 50%);
   min-height: 100vh;
   width: 80%;
   color: $pal-one;
}
.feature-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.column {
   display: flex;
   flex-direction: row;
   border: 2px solid rgb(32, 150, 201);

}
.feature-column{
   display: flex;
   flex-direction: column;
   width: 95%;

   .feature-column-title-box{
      display: flex;
      width: 100%;
      border: 2px solid red;
      
      .feature-column-title {
         display: flex;
         flex-direction: column;
         justify-content: center;
         text-align: center;
         width:70%;
         border: 2px solid purple;
      }
   
   img {
      height: 150px;
      width:150px;
      border: 2px solid orange;
   
   
   }
}
}
.feature {
   display: flex;
   border: 2px solid green;
   width: 95%;
   
   img {
      height: 75px;
      width:75px;
      // border: 2px solid red;
      border-radius: 50%;

   }

   .feature-description {
      display: flex;
      flex-direction: column;
   }

}


// Experience

.radio-button-container {
   display: flex;
   justify-content: center;
   width: 80%;
   border: 2px solid red;
}
.radio-button {
   height: 5vh;
   width: 15vw;
   background-color: $pal-one;
   color: $pal-three;
}
.one {

}