@import "../../modules/variables";

* {

}

@media  (min-width: 320px){  
   .about-me-page {
      background:  linear-gradient(0deg, $pal-six 0%, $pal-three 50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      }

      .about-me-container {
      //    background: linear-gradient(0deg, $pal-three 0%, $pal-six 50%);
      background-color: $pal-five;   
      min-height: 100vh;

         width: 80%;
         color: $pal-one;
      }
      .feature-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border: 2px solid orange;
      }
      .column {
         display: flex;
         border: 2px solid rgb(32, 150, 201);
   
      }
      .feature-column{
         display: flex;
         flex-direction: column;
         width: 95%;
   
            .feature-column-title-box{
               display: flex;
               width: 100%;
               border: 2px solid red;
               
               .feature-column-title {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: center;
                  width:70%;
                  border: 2px solid purple;
               }
            
            img {
               height: 150px;
               width:150px;
               border: 2px solid orange;
            
            
            }
         }
      }
      .feature {
         display: flex;
         border: 2px solid green;
         width: 95%;
         
         img {
            height: 75px;
            width:75px;
            // border: 2px solid red;
            border-radius: 50%;
         }
   
         .feature-description {
            display: flex;
            flex-direction: column;
         }
      }

}


