@import "../../modules/variables";
$hexagon-width: 115px;
$hexagon-size-320: 70px;
$hexagon-size-350: 80px;
$hexagon-size-450: 90px;

* {
   margin: 0;
   padding: 0;
   border: 0;
   width: 100%;
}

@media  (min-width: 320px){  
   
   .hexagon-container {
      width:75%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .hexagon-row-one{
   display:flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: -15px;
   }
   .hexagon-row-two{
      display:flex;
      justify-content: center;
      align-items: center;
      width: 100%;//this will need to be adjusted
      margin-right:2px;
      
   }
// .hexagon { 
//    position: relative;
//    width: $hexagon-width;
//    height: $hexagon-width/ 1.75;
//    background: white;
//    margin: $hexagon-width/3.46 auto;
//    box-shadow: 5px;
//    background-repeat: no-repeat;
//    background-position: center;
//  }
//  .hexagon::before,
//  .hexagon::after {
//     content: "";
//     position: absolute;
//     border-left: $hexagon-width/2 solid transparent;
//     border-right: $hexagon-width/2 solid transparent;
//    }
   
//    .hexagon::before {
//       bottom: 100%;
//       border-bottom: $hexagon-width/3.46 solid white
//    }
   
//    .hexagon::after {
//       top: 100%;
      // border-top: $hexagon-width/3.46 solid white;
      
//    }
   
//    .hexagon-two {
//       background-image: url("../../images/Family - one.jpg");
//       background-size: 120% 140%;
//    }
//    .hexagon-two::before,
//    .hexagon-two::after {
//       content: "";
//       position: absolute;
//       border-left: $hexagon-width/2 solid transparent;
//       border-right: $hexagon-width/2 solid transparent;
//    }
   .hexagon-selected{
      height: $hexagon-size-320+20;
      width: $hexagon-size-320+20;
      // box-shadow: 5px 5px red;
   }
   .hexagon-one {
      // padding-top:5px;
      height: $hexagon-size-320;
      width: $hexagon-size-320;
   }
   .hexagon-one:hover {
      height: $hexagon-size-320;
      width: $hexagon-size-320;
   }
   .hexagon-two {
      padding-top:5px;
      height: $hexagon-size-320;
      width: $hexagon-size-320 + 5;
   }
   .hexagon-two:hover {
      padding-top:2px;
      height: $hexagon-size-320 + 5;
      width: $hexagon-size-320;
   }
   .hexagon-three {
      // padding-top:5px;
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }
   .hexagon-three:hover {
      height: $hexagon-size-320 + 5;
      width: $hexagon-size-320;
   }
   
   .hexagon-four {
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }
   .hexagon-four:hover {
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }
   .hexagon-five {
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }
   .hexagon-five:hover {
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }

   .hexagon-six {
      // padding-top:5px;
      height: $hexagon-size-320 - 10;
      width: $hexagon-size-320 - 5;
   }
   .hexagon-six:hover {
      padding-top:3px;
      height: $hexagon-size-320 - 2;
      width: $hexagon-size-320 - 4;
   }
   .hexagon-seven {
      // padding-top:5px;
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }
   .hexagon-seven:hover {
      // padding-top:3px;
      height: $hexagon-size-320;
      width: $hexagon-size-320 - 5;
   }

}

@media  (min-width: 350px){  

   .hexagon-container {
      width:75%;
      height: 220px;
   }
   .hexagon-row-one{

   width: 100%;
   margin-bottom: -15px;
   }
   .hexagon-row-two{
      display:flex;
      justify-content: center;
      align-items: center;
      width: 100%;//this will need to be adjusted
      margin-right:2px;
   }
   .hexagon-selected{
      height: $hexagon-size-350 - 10px;
      width: $hexagon-size-350 - 20px;
      // box-shadow: 5px 5px red;
   }
   .hexagon-one {
      // padding-top:5px;
      height: $hexagon-size-350+15;
      width: $hexagon-size-350;
   }
   .hexagon-one:hover {
      height: $hexagon-size-350;
      width: $hexagon-size-350;
   }
   .hexagon-two {
      padding-top:5px;
      height: $hexagon-size-350;
      width: $hexagon-size-350+5;
   }
   .hexagon-two:hover {
      padding-top:2px;
      height: $hexagon-size-350 + 5;
      width: $hexagon-size-350;
   }
   .hexagon-three {
      // padding-top:5px;
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }
   .hexagon-three:hover {
      height: $hexagon-size-350 + 5;
      width: $hexagon-size-350;
   }
   
   .hexagon-four {
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }
   .hexagon-four:hover {
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }
   .hexagon-five {
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }
   .hexagon-five:hover {
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }

   .hexagon-six {
      // padding-top:5px;
      height: $hexagon-size-350 - 10;
      width: $hexagon-size-350 - 5;
   }
   .hexagon-six:hover {
      padding-top:3px;
      height: $hexagon-size-350 - 2;
      width: $hexagon-size-350 - 4;
   }
   .hexagon-seven {
      // padding-top:5px;
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }
   .hexagon-seven:hover {
      // padding-top:3px;
      height: $hexagon-size-350;
      width: $hexagon-size-350 - 5;
   }

   .hexagon-selected{
      height: 120px;
      width: 115px;
      // box-shadow: 5px 5px red;
   }
   .hexagon-one {
      // padding-top:5px;
      height: 80px;
      width: 80px;
   }
   .hexagon-one:hover {
      height: 85px;
      width: 80px;
   }
   .hexagon-two {
      padding-top:5px;
      height: 80px;
      width: 85px;
   }
   .hexagon-two:hover {
      padding-top:2px;
      height: 85px;
      width: 80px;
   }
   .hexagon-three {
      // padding-top:5px;
      height: 80px;
      width: 75px;
   }
   .hexagon-three:hover {
      height:85px;
      width: 80px;
   }
   
   .hexagon-four {
      height: 83px;
      width: 83px;
   }
   .hexagon-four:hover {
      height: 80px;
      width: 75px;
   }
   .hexagon-five {
      height: 80px;
      width: 75px;
   }
   .hexagon-five:hover {
      height: 80px;
      width: 75px;
   }

   .hexagon-six {
      // padding-top:5px;
      height: 80px;
      width: 85px;
   }
   .hexagon-six:hover {
      padding-top:3px;
      height: 88px;
      width: 86px;
   }
   .hexagon-seven {
      // padding-top:5px;
      height: 85px;
      width: 75px;
   }
   .hexagon-seven:hover {
      // padding-top:3px;
      height:88px;
      width: 80px;
   }

}

@media  (min-width: 400px){  

   .hexagon-container {
      width:75%;
      height: 220px;
   }
   .hexagon-row-one{
   width: 100%;
   margin-bottom: -15px;
   }
   .hexagon-row-two{
      display:flex;
      justify-content: center;
      align-items: center;
      width: 100%;//this will need to be adjusted
      margin-right:2px;
   }
   .hexagon-selected{
      height: 120px;
      width: 115px;
      // box-shadow: 5px 5px red;
   }
   .hexagon-one {
      // padding-top:5px;
      height: 90px;
      width: 90px;
   }
   .hexagon-one:hover {
      height: 65px;
      width: 60px;
   }
   .hexagon-two {
      padding-top:5px;
      height: 90px;
      width: 95px;
   }
   .hexagon-two:hover {
      padding-top:2px;
      height: 95px;
      width: 90px;
   }
   .hexagon-three {
      // padding-top:5px;
      height: 90px;
      width: 85px;
   }
   .hexagon-three:hover {
      height:95px;
      width: 90px;
   }
   
   .hexagon-four {
      height: 90px;
      width: 85px;
   }
   .hexagon-four:hover {
      height: 90px;
      width: 85px;
   }
   .hexagon-five {
      height: 90px;
      width: 85px;
   }
   .hexagon-five:hover {
      height: 90px;
      width: 85px;
   }

   .hexagon-six {
      // padding-top:5px;
      height: 80px;
      width: 85px;
   }
   .hexagon-six:hover {
      padding-top:3px;
      height: 88px;
      width: 86px;
   }
   .hexagon-seven {
      // padding-top:5px;
      height: 85px;
      width: 75px;
   }
   .hexagon-seven:hover {
      // padding-top:3px;
      height:88px;
      width: 80px;
   }

}


@media  (min-width: 1000px) {
   .hexagon-container {
      width:70%;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .hexagon-row-one{
     display:flex;
     justify-content: center;
     align-items: center;
     width: $hexagon-width * 3.5;
     margin-bottom: -22px;
   }
   .hexagon-row-two{
     display:flex;
     justify-content: center;
     align-items: center;
     width: $hexagon-width  * 4.65;//this will need to be adjusted
     
   }

      .hexagon-selected{
         height: 200px;
         width: 200px;
         // box-shadow: 5px 5px red;
      }
      .hexagon-one {
         // padding-top:5px;
         height: 150px;
         width: 145px;
      }
      .hexagon-one:hover {
         height: 155px;
         width: 150px;
      }
      .hexagon-two {
         padding-top:5px;
         height: 140px;
         width: 147px;
      }
      .hexagon-two:hover {
         padding-top:2px;
         height: 145px;
         width: 150px;
      }
      .hexagon-three {
         // padding-top:5px;
         height: 150px;
         width: 145px;
      }
      .hexagon-three:hover {
         height: 155px;
         width: 150px;
      }
      
      .hexagon-four {
         height: 150px;
         width: 145px;
      }
      .hexagon-four:hover {
         height: 150px;
         width: 145px;
      }
      .hexagon-five {
         height: 150px;
         width: 145px;
      }
      .hexagon-five:hover {
         height: 150px;
         width: 145px;
      }
   
      .hexagon-six {
         padding-top:5px;
         height: 140px;
         width: 145px;
      }
      .hexagon-six:hover {
         padding-top:3px;
         height: 148px;
         width: 146px;
      }
      .hexagon-seven {
         // padding-top:5px;
         height: 153px;
         width: 145px;
      }
      .hexagon-seven:hover {
         // padding-top:3px;
         height: 158px;
         width: 150px;
      }
      
}

